[hub]
	protocol = https
[user]
	name = AUTHORNAME
	email = AUTHOREMAIL
[credential]
	helper = GIT_CREDENTIAL_HELPER
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	unstage = reset --
[color]
	diff = auto
	status = auto
	branch = auto
	ui = true
[core]
	excludesfile = ~/.gitignore
	editor = vim
[push]
	default = simple
